/* LAYOUT */

.ant-layout {
  background: #fff;
}

.site-layout-heading h1 {
  margin-bottom: 0px !important;
  display: inline !important;
}
.site-layout-heading .product-count {
  color: darkgray;
  margin-left: 3px;
}
.site-layout-heading .product-count::before {
  content: "(";
}
.site-layout-heading .product-count::after {
  content: " items)";
}
.site-layout-content {
  min-height: 80vh;
  padding: 0px 24px 24px 24px;
  background: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  /* margin: 16px 24px 16px 0; */
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout-header .logo h3 {
  font-weight: 300 !important;
  font-size: 20px;
  margin-bottom: 7px;
}
/* .ant-row-rtl #components-layout-demo-top .logo {
  margin: 16px 0 16px 24px;
} */
.ant-menu-item-active {
  background: transparent !important;
}
.ant-input-group-addon {
  position: relative;
  color: rgba(0, 0, 0, 0.85);
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  border: none !important;
  border-radius: 5px;
  transition: all 0.3s;
}
.ant-layout-header .dropdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ant-layout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 50px;
  background: #a03037;
  box-shadow: 0rem 0.25rem 0.75rem rgb(0, 0, 0, 15%);
}
.ant-layout-header .cart-items-count .ant-badge {
  color: unset !important;
}
.ant-layout-header .cart-items-count .ant-badge-count {
  background-color: #faad14;
  color: rgba(0, 0, 0, 0.85);
  box-shadow: none;
  font-weight: 500;
  right: -5px !important;
  min-width: 15px !important;
  height: 15px !important;
  line-height: 15px !important;
  font-size: 10px !important;
  padding: unset !important;
}
.ant-layout-footer {
  padding: 20px 50px;
  color: #dadada;
  font-size: 14px;
  background: #282f3b;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.75);
  background: #a03037;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}
.logo {
  display: flex !important;
  font-weight: 500;
  margin-top: 5px;
}
.logo img {
  margin-top: 11px;
  height: 25px;
  width: auto;
}
.logo h3 {
  color: #fff;
  margin-left: 10px;
}
.ant-input-search {
  margin-bottom: 1px;
  max-width: 400px;
  box-shadow: 0rem 0.5rem 1rem rgb(0, 0, 0, 10%);
}
.ant-input-search-button {
  position: relative;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  padding: 4px 4px 4px 6px;
  color: rgba(0, 0, 0, 0.85);
}
.search {
  border: none !important;
  padding: 6px;
  border-radius: 5px;
}
/* input[type="text"] {
  border: 1px solid white !important;
  border: 1px solid white !important;
} */

/* MEDIA SCREEN */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .ant-layout-content {
    padding: 0px !important;
  }
  .ant-input-search {
    display: none;
  }
  .ant-layout-header {
    padding: 20px 20px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575.99px) and (max-width: 767.98px) {
  .ant-layout-content {
    padding: 0px !important;
  }
  .ant-input-search {
    display: none;
  }
  .ant-layout-header {
    padding: 20px 20px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
  .ant-input-search {
    margin-left: 15px;
    max-width: 300px;
  }
  .ant-layout-header {
    padding: 20px 30px;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) {
  .ant-input-search {
    margin-left: 15px;
    max-width: 350px;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.99px) and (max-width: 1399.98px) {
}

/* Between breakpoints */
@media (min-width: 1399.99px) and (max-width: 1199.98px) {
}
