@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&family=Nunito:wght@300;400;600;700&family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap");
/* 
font-family: 'Inconsolata', monospace;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

body {
  margin: 0;
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inconsolata", monospace !important;
}
